
body{
    background-color: aqua;
}

.sub{

   background-color:  blueviolet;
}

#object1 {
    position: relative;
    align-items: left;
    float: left;
    width: 600px;
    height: 400px;
}

.form{
    position: absolute;
    top: 0px;
    right: 30px;
}

